/**
 * @file globals.scss
 * @description Contains globally applied styles.
 */

@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;


body, html, #__next {
    height: 100vh;

    width: 100vw;
    max-width: 100%;

    padding: 0;
    margin: 0;
}